<ion-popover-view>
   <!-- <ion-header-bar>
        <h1 class="title">My Popover Title</h1>
    </ion-header-bar>-->
    <!--<ion-content>-->
        <div id="search-bar">
            <div class="item item-input-inset">
                <label class="item-input-wrapper" id="search-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder=" Enter Location" ng-model="query">
                </label>
            </div>
        </div>
    <ul class="padding">
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
        <li>Hello</li>
    </ul>
 <!-- </ion-content>-->
</ion-popover-view>
