<ion-view view-title="About">
    <ion-content class="padding">
        <section class="card">
            <header class="item item-divider">
                <h2>Features for registered users</h2>
            </header>
            <div class="item item-text-wrap">
                <p>By creating a profile registered users are allowed to store their own layers
                    of control points.</p>
            </div>
        </section>
        <section class="card">
            <header class="item item-divider">
                <h2>Features for non-registered users</h2>
            </header>
            <div class="item item-text-wrap">
                <p>All general users will be able to view NGS control data and other publicly available control point
                    data
                    base on search location.</p>
            </div>
        </section>
    </ion-content>
</ion-view>
