<ion-view view-title="Map" xmlns="http://www.w3.org/1999/html">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search-strong padding" ng-click="search($event)"></button>
        <button class="button button-icon icon ion-social-buffer padding"></button>
        <select ng-model="map_mode.map" class="button icon-right ion-android-arrow-dropdown padding">
            <option>Esri</option>
            <option>Google</option>
        </select>
    </ion-nav-buttons>
    <ion-content id="map"></ion-content>
</ion-view>
